<section>
  <h2 class="h4 ms-5 text-decoration-underline">Liste de DIM :</h2>
  <div class="d-flex justify-content-center">
    <div class="list-todo d-flex flex-wrap col-6 justify-content-between">
      <div *ngFor="let todo of todos" class="card col-5 mb-5">
        <div class="card-header">{{todo.isActif ? "A faire": "Fait"}}</div>
        <div class="card-body" [ngClass]="{'text-decoration-line-through': !todo.isActif}">
          <div class="d-flex">
            <h4 [ngClass]="{'selected': todo === todoSelected}" (click)="allInfo(todo)">{{todo.title}}</h4>
            <input
              name="{{todo.id}}"
              type="checkbox"
              [checked]="!todo.isActif"
              (change)="checkValue(todo)"
              class="ms-auto"
            />
          </div>
          <p class="mb-0">{{todo.date}}</p>
          <div *ngIf="todo === todoSelected">
            <h4>Détail :</h4>
            <p>{{todo.description}}</p>
          </div>
          <p (click)="editTodo(todo)">modifier</p>
          <form *ngIf="todo.editing" (submit)="updateTodo(todo)" [formGroup]="todoForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" formControlName="title" id="title" name="title" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea formControlName="description" id="description" name="description" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
          </form>
          <button *ngIf="!todo.isActif" (click)="deleteTodo(todo)" class="btn btn-primary">Supprimer la tâche</button>
        </div>
      </div>
    </div>
  </div>
</section>
